.home-title {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.home-movie-selection {
    margin: 20px 0;
    width: 100%;
}
.home-movie-selection .home-title h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/h3_movie_selection.gif) no-repeat scroll center center / 406px 41px #FDFCF0;
    display: inline-block;
    width: 425px;
    height: 60px;
}

.title-cgv-opening-site {
    width: 100%;
    background:#ff4d4f;
    position: relative;
    display: inline-block;
}
.gs-special-event-en h2 {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/gs-specail-event-en.png) no-repeat scroll center center / 322px 35px #FDFCF0;
    display: inline-block;
    width: 425px;
    height: 60px;
}