@tailwind base;
@tailwind components;
@tailwind utilities;



.ant-carousel .slick-dots-bottom{
    margin: auto !important;
}
.slick-prev{
    left: -45px !important;
}
.ant-carousel{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg_c_bricks.png) repeat-x scroll 0 20px rgba(0, 0, 0, 0);
}