@tailwind base;
@tailwind components;
@tailwind utilities;



.ant-carousel .slick-dots-bottom {
    margin: auto !important;
}

.slick-prev {
    left: -45px !important;
}

.ant-carousel {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg_c_bricks.png) repeat-x scroll 0 20px rgba(0, 0, 0, 0);
}

.ant-tabs-tab-active h2 {
    color: crimson !important;
}

.ant-tabs-tab-active p {
    color: crimson !important;
}

.ant-tabs-ink-bar {
    background: crimson !important;
}
.ant-tabs-left > .ant-tabs-content-holder, .ant-tabs-left > div > .ant-tabs-content-holder {
    margin-left: -1px;
    border-left: 2px solid #ef57572b !important;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 2px solid #ef57572b !important;
    content: '';
}

/* Slick List */
.slick-list {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 4rem;
}

.test {
    border: 2px solid;
    border-image: linear-gradient(45deg, rgba(255, 0, 0, 0.822), rgb(25, 25, 26)) 10;
}